<%- contentFor('body') %>
<section class="clearfix pokemon-card">
    <article class="pokemon-data">
        <h1>Login</h1>
        <% if (typeof message !== 'undefined') { %>
            <%= message %>
        <% } %>
        <form method="post" action="/login">
            <p>
                <label>Email :</label>
                <input type="text" name="email" required>
            </p>
            <p>
                <label>Password :</label>
                <input type="password" name="password" required>
            </p>
            <p>
                <input type="submit" value="Login">
            </p>
        </form>
    </article>
</section>